@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hidden {
  scrollbar-width: thin;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  scrollbar-color: transparent transparent;
  /* For Firefox (thumb and track) */
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

}

body {
  margin: 0;
  font-family: Outfit;
  min-width: 1200px;
  line-height: 1;
}

.hidden {
  display: none;
}


.shadowElement {
  border-radius: 19px;
  box-shadow: 5px 5px 6px #a5a5a5,
    -5px -5px 6px #9b9a9a;
}

.shadowModalCar {
  border-radius: 15px;
  box-shadow: 5px 5px 5px #a5a5a594,
    -5px -5px 5px #9b9a9a4b;
}

/* height: answer1 ? '80px' : '0px', overflow: 'hidden', transition: 'height 0.6s ease', fontWeight:'400',fontSize:'12px', lineHeight:'16px'  */
.hidden {
  transition: .1s ease-in;
  opacity: 0;
  height: 0px;
}

.deployFaq {
  
  transition: all;
  transition: .5s ease;
  opacity: 1;
  height: 100px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 80px;
}

.inputForm {
  border-radius: 6px;
  width: 100%;
  border: 1px solid #D1D5DB;
  outline: none;
  padding: 9px 13px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputForm select {

  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.inputForm:hover {
  border: 1px solid #9B9EA3;
}

.inputForm:focus,
.inputForm:focus-within {
  border: 2px solid #3F8F6B;
}

.textareaForm {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  outline: none;
  padding: 17px;
}

.textareaForm:hover {
  border: 1px solid #9B9EA3;
}

.textareaForm:focus {
  border: 2px solid #3F8F6B;
}

.inputError{
  color: #b60303;
  font-size: 11px;
  font-weight: 500;

}
.inputTjDebito {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.inputTjDebito input:hover{
  border: 1px solid #9B9EA3;
}
.inputTjDebito input:focus,.inputTjDebito input:focus-within{
  border: 2px solid #3F8F6B;
}

.inputTjDebito label {
 
  font-weight: 500;
  font-size: 12px;
}

.inputTjDebito input {

  padding: 10px 8px;
  border: 1px solid #D1D5DB;
  margin: 0px;
  border-radius: 6px;
  width: 100%;
}

.inputTjDebito input::placeholder {
  color: #515051;
}

.inputTjDebito select {
  background-image: url('../src/assets/selectDown.svg');
  appearance: none;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  color: #515051;
  height: 42px;
  border: 1px solid #D1D5DB;
  margin: 0px;
  border-radius: 6px;
  width: 100%;
  padding: 10px 8px;
}

.inputTjDebito option {
  border: 1px solid #D1D5DB;
}
.loader {

  --cell-size: 52px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
  position: absolute;
  bottom: 10%;
  right: 45%;

}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00FF87;
}

.cell:nth-child(2) {
  --cell-color: #0CFD95;
}

.cell:nth-child(3) {
  --cell-color: #17FBA2;
}

.cell:nth-child(4) {
  --cell-color: #23F9B2;
}

.cell:nth-child(5) {
  --cell-color: #30F7C3;
}

.cell:nth-child(6) {
  --cell-color: #3DF5D4;
}

.cell:nth-child(7) {
  --cell-color: #45F4DE;
}

.cell:nth-child(8) {
  --cell-color: #53F1F0;
}

.cell:nth-child(9) {
  --cell-color: #60EFFF;
}

/*Animation*/
@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}