@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

body {
  margin: 0;
  font-family: Outfit;
  min-width: 1200px;
  line-height: 1;
}
.hidden {
  display: none;
}

.carrito /* carrito */
{
    width: 450px;
    position: fixed;
    top: 90px;
    right:4px;
    display: flex;
    flex-direction: column;
    

    background-color: rgba(230, 229, 229, 0.7);
    z-index: 1001;
    border-radius: 10px;
    gap: 2%;
    overflow-y:auto;
    height:250px;
    backdrop-filter: blur(3px) saturate(120%);
}
.shadowElement{
  border-radius: 19px;
  box-shadow: 5px 5px 6px #a5a5a5,
  -5px -5px 6px #9b9a9a;  
}
.inputForm{
  border-radius: 6px;
  height: 34px;
  width: 100%;
  border: 1px solid #D1D5DB;
  outline: none;
  padding: 17px;
}
.inputForm:hover{
  border: 1px solid #9B9EA3;
}
.inputForm:focus{
  border: 2px solid #3F8F6B;
}
.textareaForm{
  
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  outline: none;
  padding: 17px;
}
.textareaForm:hover{
  border: 1px solid #9B9EA3;
}
.textareaForm:focus{
  border: 2px solid #3F8F6B;
}
